/* default css */
html {
  scroll-behavior: smooth;
}
a.btn:hover .buy_btn_effect{
    padding-left: 5px;
	transition: .25s;
}
span.buy_btn_effect{
    transition: .25s;
}

/* hero slider */
.panda_slider{
    background-color: #FEEAE9;
}

/* categories */
.categories{
    margin: 100px 0;
}
.single_categorie {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
#cat1{
    background-image: linear-gradient(90deg, #FF9F34, #FFCE1A);
}
#cat2{
    background-image: linear-gradient(90deg, #FF1771, #FF579A);
}
#cat3{
    background-image: linear-gradient(90deg, #3F13F9, #4288FF);
}
.single_categorie h2{
    font-size: 40px;
    color: #fff;
    text-transform: capitalize;
}
.single_categorie img {
    transition: 300ms;
}
.single_categorie:hover img {
	transform: scale(1.2);
	transition: 300ms;
}

/* products */
.products{
    margin-bottom: 100px;
    background-color: #F8F8F8;
}

.single_product:hover{
    box-shadow: 0px 0px 10px #ddd;
}
.single_product:hover img{
    transform: scale(1.15);
    transition: 200ms;
}
.single_product img{
    transition: 200ms;
}


/*  */
.signup > .container{
    background-color: #FEEAE9;
    padding: 50px 20px;
}
#button-addon2 {
	background-color: #C01F5F;
	color: #fff;
	border: none;
}

/* ------------------ Responsive Media Queries -----------------  */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { ... }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .card{
        margin-bottom: 20px;
    }
    .single_categorie{
        padding: 10px;
    }
    .single_categorie h2 {
        font-size: 25px;
    }
    .single_categorie img {
        width: 100px;
    }
    ..single_product img{
        width: 80%;
    }
    /*signup section*/
    .signup > .container{
        padding: 20px 10px;
    }
    .signup h2 {
        font-size: 22px;
    }
    .signup .input-group {
        width: 80% !important;
    }
    .signup .input-group input.form-control{
        padding: 10px !important;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }